
.container {
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
}

.light {
  background-color: #f0f2f5;
  color: #000;
}

.dark {
  background-color: #141414;
  color: #fff;
}

.card {
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
